<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="Utilities.ListenersImplementation"/>
    </listeners>
    <test  name="isuitetest">
        <classes>
            <class name="ui_tests.TestAmazonSearchPage"/>
        </classes>
    </test><!-- Test -->
</suite><!-- Test -->